*{
    font-family: 'Inter', sans-serif;
}
.footer{
    background: linear-gradient(140.53deg, #4C3A81 -4.03%, #3C3176 117.28%);
    color: #250043;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    position: relative;
    /* top: 100vh; */
    bottom: 0;
    width: 100%;
    height: 190px;
    align-content: flex-end;
    flex-wrap: wrap;
}
.footer-items{
    display: flex;
    color: #250043;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
}