  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  body > .section__hero{
    margin: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background: radial-gradient(100% 567.85% at 100% 31.95%, #231B49 0%, #231B49 0.01%, #241F4C 24.32%, #19263E 48.82%, #252244 73.32%, #331B4C 100%) ;
  }  
  /* SECTION HERO START */
  .section__hero {
    margin-top: 100px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 600px;
    align-items: center;
  }
  
  /* .section__hero--left {
  }
  
  .section__hero--left-container {
  } */
.cc_landig{

  background: radial-gradient(100% 567.85% at 100% 31.95%, #231B49 0%, #231B49 0.01%, #241F4C 24.32%, #19263E 48.82%, #252244 73.32%, #331B4C 100%) ;
}
  .section__hero-title {   
    /* Una nueva manera de manejar tus NFT */
    position: absolute;
    width: 916px;
    height: 174px;
    left: 319px;
    top: 241px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
    background: radial-gradient(131.03% 2919.61% at -23.53% 0%, #DCD6FF 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */


  }
  .section__hero-description {
    /* Obtenga sus puntos bancomer al mantener sus nfts */

    position: absolute;
    width: 661px;
    height: 78px;
    left: 329px;
    top: 450px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.7);
    

  }
  
.section__hero--left-buttons {
    position: absolute;
    left: 332px;
    top: 563px;


}
  
.section__hero--left-buttona{
background: linear-gradient(91.93deg, #467CB3 0%, #663E9F 102.81%);
width: 150px;
height: 50px;
border-radius: 10px;
border-color: transparent;
}
.section__hero--left-buttona:active{
    color: blue;
    width: 130px;
    height: 40px;
    position: relative;
    top: 5px;
    left: 8px;
}

.section__hero--right {
    height: 700px;
}

.section__hero--right-container {
    position: relative;
    width: 943px;
    height: 648px;
    left: 656px;
    top: 10px; 
}

/* .section__hero--right-img {

} */

/* SECTION HERO END */

/* SECTION NFT START */

/* .section__NFT {
    width: 100%;
    height: 300px;
    background-color: var(--secundary-bg-color);
    position: relative;
}

.section__NFT-container {
    position: relative;
    width: 50%;
    left: 4px;
    display: flex;
    height: 100%;
}

.section__NFT-img {
    height: 40%;
    filter: brightness(.5) grayscale(1);
    opacity: .5;
    /* margin : 0 20px; 
    max-width: 5%;
}
.section__partner--img{
  position: relative;
} */
.section__NFT{
  display: flex;
  justify-content: center;
  height: 35%;
  max-width: 100%;
  overflow: hidden;

}
.section__partner-img{
  /* height: 10%; */
  opacity: .7;
}
  /* SECTION SERVICES START */
.subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: center;

    background: radial-gradient(131.03% 2919.61% at -23.53% 0%, #DCD6FF 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    flex-direction: column;
    align-items: center;
    }
.p-descript{
  flex-direction: column;
  align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);

}
.section__services {
    height: 900px;
    width: 100%;
    background: radial-gradient(100% 567.85% at 100% 31.95%, #231B49 0%, #231B49 0.01%, #241F4C 24.32%, #19263E 48.82%, #252244 73.32%, #331B4C 100%);
    max-width: 100%;
    overflow: hidden;

}
.text_services{
  background: radial-gradient(100% 567.85% at 100% 31.95%, #231B49 0%, #231B49 0.01%, #241F4C 24.32%, #19263E 48.82%, #252244 73.32%, #331B4C 100%) ;
}

.section__services-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 150px;
    position: absolute;
    width: 1450px;
    height: 458px;
    top: 1320px;
    left: 250px;
    
}

.section__services-service-box {
    background: linear-gradient(140.53deg, #4C3A81 -4.03%, #3C3176 117.28%);
    border-radius: 16px;

}

.section__services-service-image-box {
    height: 250px;
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
    place-items: center;
}

.section__services-service-image {
    width: 80%;
    height: 80%;
}

.section__services-service-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__services-service-text--tile {
    font-size: 32px;
    margin-bottom: 18px;
}

.section__services-service-text--description {
    font-size: 18px;
    text-align: center;
}
  
  /* SECTION SERVICES END */

/* SECTION BENEFICIOS START */

.section__beneficios {
  height: 82vh;
  margin: 0 auto;
  background: radial-gradient(100% 567.85% at 100% 31.95%, #231B49 0%, #231B49 0.01%, #241F4C 24.32%, #19263E 48.82%, #252244 73.32%, #331B4C 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.section__beneficios-boxes{
  display: grid;
  max-width: 1200px;
  height: 458px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-row:250px;
}
.subtitle2{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  text-align: center;

  background: radial-gradient(131.03% 2919.61% at -23.53% 0%, #DCD6FF 0%, #FFFFFF 100%) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  flex-direction: column;
  align-items: center;
  }
.p-descript2{
  width: 676px;
  height: 78px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);

}
.section__beneficios-container1 {
  height: 100%;
  height: 100%;
}
.section__beneficios-container2 {
  height: 100%;
}
.section__beneficios-container3 {
  height: 100%;
}

.section__beneficios-beneficio-box{
    background: linear-gradient(140.53deg, #4C3A81 -4.03%, #3C3176 117.28%);
    backdrop-filter: blur(2px);
    border-radius: 16px;
}

.section__beneficios-beneficio-image-box {
    height: 250px;
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 20px;
    display: grid;
    place-items: center;
}

.section__beneficios-beneficio-image {
    width: 80%;
    height: 80%;
}

.section__beneficios-beneficio-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__services-service-text--tile {
    font-size: 32px;
    margin-bottom: 18px;
}

.section__beneficios-beneficio-text--description {
    font-size: 18px;
    text-align: center;
}
  /* SECTION BENEFICIOS END*/
  /* SECTION RAREZA START */
  
.section__rareza {
  position: relative; 
  max-width: 1200 px;
  margin: 0 auto;
  height: 1200px;
  background: radial-gradient(100% 567.85% at 100% 31.95%, #231B49 0%, #231B49 0.01%, #241F4C 24.32%, #19263E 48.82%, #252244 73.32%, #331B4C 100%);
}
.subtitle3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(131.03% 2919.61% at -23.53% 0%, #DCD6FF 0%, #FFFFFF 100%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.section__rareza-conteiner {
  position: relative;
  display: flex;
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  background-color: transparent;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
}
.section__rareza-box{
  display: flex;
  background: linear-gradient(123.49deg, #4C3A81 52.02%, #3C3176 91.51%);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 16px;
  width: 350px;
  height: 350px;
  border-radius: 16px;
  flex-direction: column;
  align-content: space-around;
  justify-content: flex-start;
  align-items: center;
}
.section__rareza-box-image1{
  width: 350px;
  height: 250px;
  border-radius: 16px;
}
.section__rareza-box-text{
  width: 350px;
  height: 50px;
  color: white;
}

/*SECTION RAREZA ENDS */



  
/* SECTION ABOUT START */
.section__about {
    height: 120vh;
    background: radial-gradient(100% 567.85% at 100% 31.95%, #231B49 0%, #231B49 0.01%, #241F4C 24.32%, #19263E 48.82%, #252244 73.32%, #331B4C 100%);
    height: 135vh;
}

.section__about-container {
  max-width: 1200px;
  margin: 0 auto;

}

.section__about-top {
}

.section__about-title {
  position: relative;
  width: 100%;
  height: 154px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.section__about-description {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;

  color: rgba(255, 255, 255, 0.7);


}

.section__about-container-inner {
  position: relative;
}

.roadmap-title {
  text-align: center;
  color:rgba(255, 255, 255, 0.7);
  font-size: 32px;
  margin-bottom: 24px;
}

.section__about-container-inner-grid {
}

.roadmap-line {
  position: absolute;
  left: 50%;
  z-index: 0;
  width: 4px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, 0);
}

.section__about-container-inner-grid-item {
  display: grid;
  margin-bottom: 2em;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 6em 1fr;
  grid-template-columns: 1fr 6em 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage {
  display: flex;
  width: 5em;
  height: 5em;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  z-index: 2;
}

.stage-text {
  font-size: 20px;
  font-weight: 600;
  padding: 16px;
}

.stage-text-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}
/* SECTION ABOUT ENDS */
/* SECTION FAQ STARTS */
.section__faq{
  margin-bottom: 50px;
  height: 1200px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(100% 567.85% at 100% 31.95%, #231B49 0%, #231B49 0.01%, #241F4C 24.32%, #19263E 48.82%, #252244 73.32%, #331B4C 100%);
}
.section__faq-container{
  width: 1000px;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: transparent;
  flex-direction: column;
}
.section__faq--q{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-style: normal;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  flex-direction: column;
}
.section__faq--q-description{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* SECTION FAQ ENDS */