/* *{
    font-family: 'Inter', sans-serif;
    font-width: 400;
    font-style: normal;
    font-display: swap;
    margin: -100%;
    padding: 0;
} */
.header{
    height: 100px;
    width: 100%;
    margin-top: -1.2%;
}
.header-container{
    display: flex;
    height: 100px;
    width: 100%;
    background: transparent;
    /* box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%); */
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    align-items: center;
    justify-content: center;
}
.header__logo img{
    height: 80px;
}
.name-proyect{
    color: #fff;
    top: 17px;
    font-size: larger;
    font-weight: bold;
}
.header__menu{
    margin-right: 20px;
    justify-content: space-between;
}
.header__menu-list{
    display: flex;
    list-style: none;
    text-decoration: none; 

}
/* .header{
    height: 500px;
    width: 100%;
} */
.header__menu-item{
    display: flex;
    margin: 0px 15px;
    font-size: 16px;
    text-decoration: none;
    align-self: center;
    align-items: center;
    font-size: 14px;

}
.header__menu-item:hover{
    color: #B5E5F9;
    border-radius: 5px;
}
.header__button{
    display: flex;
    align-items: center;
}
.header__button-connect{
    background: linear-gradient(91.93deg, #467CB3 0%, #663E9F 102.81%);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    margin: 0 auto;
    align-self: flex-end;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.header__button-connect:hover{
    background: linear-gradient(91.93deg, #467CB3 0%, #663E9F 102.81%);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
    cursor: pointer;
    color: #B5E5F9;
}

.header__button-connect:active{
    color: blue;
    width: 130px;
    height: 40px;
    position: relative;
    left: 8px;
}

