*{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    margin: 0;
    padding: 0;
}
.header{
    position: relative;
    top: 0;
    height: 100px;
    width: 100%;
}
.header-container{
    display: flex;
    height: 100px;
    weight: 100%;
    background: radial-gradient(100% 567.85% at 100% 31.95%, #231B49 0%, #231B49 0.01%, #241F4C 24.32%, #19263E 48.82%, #252244 73.32%, #331B4C 100%);
    /* box-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%); */
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    align-items: center;
}
.header__logo img{
    weight: 50px;
    height: 80px;
    margin-left: 20px;
    position: relative;
    left: 100px;
}
.name-proyect{
    color: #fff;
    position: absolute;
    left: 115px;
    top: 17px;
    font-size: larger;
    font-weight: bold;
}
.header__menu{
    margin-right: 20px;
    position: relative;
    left: 480px;
}
.header__menu-list{
    display: flex;
    list-style: none;
    text-decoration: none; 
    /* position: relative;
    left: 500px;  */
}
/* .header{
    height: 500px;
    weight: 100%;
} */
.header__menu-item{
    display: flex;
    margin: 0px 15px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    align-self: center;
    align-items: center;
    font-size: 14px;
}
.header__menu-item:hover{
    color: #B5E5F9;
    border-radius: 5px;
}
.header__button{
    display: flex;
    position: absolute;
    left: 1550px;
    align-items: center;
}
.header__button-connect{
    background: linear-gradient(91.93deg, #467CB3 0%, #663E9F 102.81%);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-color: transparent;
}
.header__button-connect:active{
    color: blue;
    width: 130px;
    height: 40px;
    position: relative;
    left: 8px;
}

