
.hipoteca__container-general{
    width: 1200 px;
    margin: 0 auto;
}
.hipoteca__section1{
    display: flex;
    width: 1200 px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    height: 700px;
    margin-bottom: 70px;
}
.hipoteca__section1__container1{

}
.hipoteca__section1__container1__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 77px;
    width: 750px;
    color: #FFFFFF;
}
.hipoteca__section1__container1__butons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 750px;
    position: relative;
    top: 50px;
}
.hipoteca__section1__container1__butons__button{
    width: 250px;
    height: 53px;
    background: linear-gradient(94.01deg, #1D87BF -3.44%, #1695AA 41.28%, #0A4B71 100%);
    border-radius: 25px;
    border: solid 1px #0A4B71;
}   
.hipoteca__section1__container2{

}
.hipoteca__section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}
.hipoteca__section2__container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 700px;
    background: linear-gradient(140.53deg, #4C3A81 -4.03%, #3C3176 117.28%);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    border-radius: 16px;
    justify-content: space-evenly;
}
.hipoteca__section2__container1--image{
    width: 600px;
    height: 600px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}
.hipoteca__section2__container1__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}
.hipoteca__section2__button{
    width: 250px;
    height: 53px;
    background: linear-gradient(94.01deg, #1D87BF -3.44%, #1695AA 41.28%, #0A4B71 100%);
    border-radius: 25px;
    border: solid 1px #0A4B71;
    position: relative;
    top: 50px;
}

.hipoteca__section2__button:active{
    background: linear-gradient(91.93deg, #467CB3 0%, #663E9F 102.81%);
    border: 2px solid #FFFFFF;
}
.hipoteca__section1__container1__butons__button:active{
    background: linear-gradient(91.93deg, #467CB3 0%, #663E9F 102.81%);
    border: 2px solid #FFFFFF;
}
