/* * {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    color: white;
  } */
html {
  /* background: radial-gradient(100% 567.85% at 100% 31.95%, #231B49 0%, #231B49 0.01%, #241F4C 24.32%, #19263E 48.82%, #252244 73.32%, #331B4C 100%) ; */

}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
/* body > .wsection1{
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background: red;
}   */
.cc_wallet{
  background: linear-gradient(103.88deg, #07132D -1.92%, #0F1440 25.99%, #060F1E 97.33%);
}
.wsection1{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}
.wsection1__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.wsection1__tittle{
  position: absolute;
  width: 628px;
  height: 277px;
  left: 118px;
  top: 150px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;

  background: linear-gradient(95.13deg, #E03DD3 -3.77%, #D741CE 18.37%, #BD91E4 39.16%, #A9C0EE 63.28%, #8EDAE2 88.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  }
/* .wsection1__image1{
 height: 50  %;
} */
.wsection1__container2{
  position: relative;
  height: 70%;
  left: 400px;
  top: 0;
}
.wsection1__button{
  position: absolute;
  width: 264px;
  height: 71px;
  left: 118px;
  top: 600px;
  font-weight: 200;
  font-size: 30px;
  background: linear-gradient(90deg, #5E3EA4 0%, #4851A0 22%, #256E98 37.09%, #177895 52.19%, #3C5C9E 73.09%, #623DA7 100%);
  border-radius: 25px;

}
.wsection1__button:active{
  background: linear-gradient(91.93deg, #467CB3 0%, #663E9F 102.81%);
  border: 2px solid #FFFFFF;
}
.wsection1__p{
  position: absolute;
  width: 598px;
  height: 194px;
  left: 118px;
  top: 390px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.wsection2__container1{

}

.wsection2{
  width: 100%;
  height: 100vh;
  display: flex;
  background: linear-gradient(180deg, #0C1234 4.97%, #1F1545 65.48%);
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.wsection2__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #C9A5E9;

}
.wsection2__container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.wsection2__p{
  height: 800px;
  width: 70%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
  }



.wsection3{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, rgba(31, 21, 69, 0.8) 26.37%, rgba(4, 1, 22, 0.8) 100%), radial-gradient(33.71% 33.71% at 48.75% 40.74%, rgba(255, 255, 255, 0.8) 0%, rgba(4, 1, 22, 0.8) 64.42%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

}
.wsection3__img{
  position: relative;
  top: 50px;
  width: 500px;
  height: 500px;
}
.wsection3__tittle{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFF504;
}
.wsection3__p1{
  width: 50%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}
.wsection3__h2{
  position: relative;
  top: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: center;

  background: linear-gradient(90.57deg, #1D87BF 16.73%, #1695AA 55.05%, #052C5A 114.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;


}
